/* @tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #020617;
  color: #fff;
} */

/* ------------------------------------------------------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #07111f;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}